################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Phoneword/Phoneword/bin/Debug
/Phoneword/Phoneword/obj
